.rs-content.rs-panel
  .rs-inner
    - if @page[:reservations].any?
      = render('index_table')
    - else
      = render('index_table_none_yet')
:javascript
  $(document).ready(function () {
      (function ($) {
          $('.reservation-search').keyup(function () {
              var rex = new RegExp($(this).val(), 'i');
              $('.reservation-table tr').hide();
              $('.reservation-table tr').filter(function () {
                  return rex.test($(this).text());
              }).show();
          })
      }(jQuery));
  });